.App {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.buttons {
	width: 480px;
	display: flex;
	justify-content: space-between;
}
